/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom:60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F16073;
    text-align:center;
    
}

.table-hover tbody tr:hover td {
    background: #FCF8FA;
}




